<section class="two-way-binding">
	<article>
		<h3>Two way data binding</h3>
		<div>
			
			<input type="text" 
					[value]="nome"
					(input)="nome = $event.target.value">


			<!-- Another way -->

			<input type="text" 
					[ngModel]="nome"
					(ngModelChange)="nome = $event">


			<!-- Two way  -->
			<input type="text" [(ngModel)]="nome">

			<p>Voce digitou {{ nome }}</p>

		</div>
		<!-- 2 way biding com objetos -->
		<div>
			<input type="text" [(ngModel)]="pessoa.nome" >
			<input type="text" [(ngModel)]="pessoa.idade" >

			<p>
				Pessoa {{ pessoa.nome }} idade {{ pessoa.idade }}
			</p>

		</div>
	</article>
</section>