<h5>Exemplos de pipes</h5>



<p>titulo: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>rating: {{ livro.rating | number:'1.1-1' }}</p>
<p>numeroPaginas: {{ livro.numeroPaginas | number }}</p>
<p>preco: {{ livro.preco | currency:'BRL':true }}</p>
<p>dataLancamento: {{ livro.dataLancamento | date }}</p>
<p>url: {{ livro.url }}</p>

<p>livro: {{ livro | json }}</p>


<br>

<input type="text" [(ngModel)]="filtro">

<br>

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add Curso</button>

<h5>Pipe puro</h5>

<ul>
	<li *ngFor="let liv of livros | filtroArray:filtro">{{ liv }}</li>
</ul>

<h5>Pipe inpuro</h5>

<ul>
	<li *ngFor="let liv of livros | filtroArrayInpuro:filtro">{{ liv }}</li>
</ul>


<h5>Menira correta de usar filtro nos projetos</h5>

<ul>
	<li *ngFor="let liv of obterCursos()">{{ liv }}</li>
</ul>